{% extends 'app.html' %}
{% block title %} Change Password {% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<style>

  #id_password1_helptext{
    font-size: 11px;
    font-weight: 500;
    color: rgb(12, 23, 56)
  }

  ul {
    list-style-type: none;
    padding: 0px;
  }

  .form-text{
    font-style: italic;
  }

</style>

<div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center py-2 mb-3">
  <ol class="breadcrumb breadcrumb-alt">
    <li class="breadcrumb-item fw-bold">
      <a class="link-fx text-success" href="{% url 'users.index' %}">Usuários do Sistema</a>
    </li>
    <li class="breadcrumb-item fw-bold">
      <a class="link-fx text-success" href="{% url 'user.view' user.id %}">{{ user.first_name }} {{ user.last_name }}</a>
    </li>
    <li class="breadcrumb-item fw-bold" aria-current="page">
      Redefinição de Senha
    </li>
  </ol>
</div>


<form method="POST">
  {% csrf_token %}

  <div class="row items-push">
    <div class="col-sm-6 col-xxl-3 mb-0">
      <div class="form-group">
        {{form.oldpassword|as_crispy_field}}
      </div>
    </div>
  </div>

  <div class="row items-push">
    <div class="col-sm-6 col-xxl-3 mb-0">
      <div class="form-group">
        {{form.password1|as_crispy_field}}
      </div>
    </div>
  </div>

  <div class="row items-push">
    <div class="col-sm-6 col-xxl-3 mb-2">
      <div class="form-group">
        {{form.password2|as_crispy_field}}
      </div>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-sm fs-xs btn-alt-success shadow-none">Alterar Senha</button>
  </div>

</form>

{% if messages %}
    {% for message in messages %}
      <div id="django-{{ message.level_tag }}-message" style="display: none;">{{ message }}</div>
    {% endfor %}
{% endif %}

<script>

    $(document).ready(function () {
        var successMessageElement = document.getElementById('django-success-message')
        var errorMessageElement = document.getElementById('django-error-message')

        if (successMessageElement) {
            var msg = successMessageElement.innerText;
            One.helpers('jq-notify', {
                type: 'success',
                icon: 'fa fa-check me-1',
                message: msg
            })
        }

        if (errorMessageElement) {
            var msg = errorMessageElement.innerText;
            One.helpers('jq-notify', {
                type: 'danger',
                icon: 'fa fa-times me-1',
                message: msg
            })
        }
    })

</script>

{% endblock %}