{% extends 'app.html' %}
{% load static %}
{% block title %} Ranking Vendas {% endblock %}
{% block content %}

<meta http-equiv="refresh" content="30">

<div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center py-2 mb-2">
    <ol class="breadcrumb breadcrumb-alt">
        <li class="breadcrumb-item fw-bold" aria-current="page">
            Ranking Vendas
        </li>
    </ol>
</div>

<div class="row items-push">

    <div class="col-sm-4 col-xxl-6 mb-1">
        <div class="block-header block-header-default">
            <h3 class="block-title">Vendas Clientes</h3>
        </div>
        <table class="table table-striped table-vcenter table-hover">
            <tbody>
                {% for venda in venda_clientes %}
                <tr>
                    <td class="text-center fs-6 fw-bold" scope="row" style="width: 50px;">{{ venda.posicao }}</td>
                    <td class="text-center" style="width: 40px;">
                        <img class="rounded-circle" src="{{ MEDIA_URL }}{{ venda.avatar }}" alt="Avatar"
                            style="width: 45px">
                    </td>
                    <td>
                        <span class="fw-semibold text-primary fs-sm">{{ venda.cliente }}</span>
                        <div class="fs-sm text-secondary fw-bold">{{ venda.total }}</div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-4 col-xxl-6 mb-1">
        <div class="block-header block-header-default">
            <h3 class="block-title">Vendas Fornecedores</h3>
        </div>
        <table class="table table-striped table-vcenter table-hover">
            <tbody>
                {% for venda in venda_fornecedores %}
                <tr>
                    <td class="text-center fs-6 fw-bold" scope="row" style="width: 50px;">{{ venda.posicao }}</td>
                    <td class="text-center" style="width: 40px;">
                        <img class="rounded-circle" src="{{ MEDIA_URL }}{{ venda.avatar }}" alt="Avatar"
                            style="width: 45px">
                    </td>
                    <td>
                        <span class="fw-semibold text-primary fs-sm">{{ venda.fornecedor }}</span>
                        <div class="fs-sm text-secondary fw-bold">{{ venda.total }}</div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>



{% endblock %}