.content{
    margin-top: 65px;
    padding-top: 0px;
}

.form-group label {
    font-size: 11px;
    font-weight: 700;
}

.form-group select,
.form-group input,
.form-group textarea {
    font-size: 12px;
    border-color: rgba(12, 23, 56, .5) !important;
    background-color: rgba(185, 198, 202, .5) !important;
    color: rgb(12, 26, 53) !important;
}

.input-group input {
    font-size: 12px;
    background-color: rgba(185, 198, 202, .5) !important;
    border-color: rgba(12, 23, 56, .2) !important;
}

.form-group button {
    font-size: 12px;
}

input:focus,
select:focus,
textarea:focus {
    box-shadow: 1px 1px 5px !important;
}

input,
select,
textarea {
    border-color: rgb(12, 23, 56, .4) !important;
}

.form-label {
    margin-bottom: 0;
}

.form-group span {
    font-size: 13px;
}

.invalid-feedback {
    font-size: 10px;
}

p {
    color: rgb(12, 26, 53);
    font-size: 13px;
}

th {
    background-color: rgba(1, 115, 53, 1) !important;
    color: rgb(255, 255, 255) !important;
    font-size: 12px !important;
}

.tabela {
    font-size: 12px;
    overflow: auto;
    height: 75vh;
    width: 100%;
    text-align: center;
    background-color: rgba(185, 198, 202, .5);
    border-radius: 2px 2px 5px 5px;
}

.tabela::-webkit-scrollbar {
    display: none;
}

.tabela tr:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(12, 23, 56);
    cursor: pointer;
    font-weight: 700;
}

.tabela thead th {
    font-weight: 500;
    position: sticky;
    top: 0;
    z-index: 1;
}

.tabela table {
    border-collapse: collapse;
    width: 100%;
}

table tr {
    font-size: 11px;
}

table th {
    background: rgb(12, 26, 53);
    color: rgb(255, 255, 255);
    font-size: 11px;
}

.tooltip {
    font-size: 11px;
}

.swal2-title {
    font-size: 15px !important;
}

.swal2-styled {
    font-size: 11px !important;
    box-shadow: none !important;
}

.form-group button {
    font-size: 11px;
}


#loading-screen {
    position: absolute; /* ou 'relative', dependendo da sua estrutura */
    z-index: 999;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content { /* ou o seletor apropriado para o seu container de conteúdo */
    position: relative; /* Faz com que o #loading-screen posicione-se relativamente a este elemento */
}

.fa-search {
    cursor: pointer;
}


.nav-main-link{
    cursor: pointer;
}