{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'media/favicons/agropar-logo-icon.png' %}">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" id="css-main" href="{% static '/css/oneui.min.css' %}">
    <script src="{% static '/js/lib/jquery.min.js' %}"></script>
</head>

<body>

    <div id="page-container">
        <main id="main-container">
          <div class="hero">
            <div class="hero-inner text-center">
              <div class="bg-body-extra-light">
                <div class="content content-full overflow-hidden">
                  <div class="py-4">
                    <h1 class="display-1 fw-bolder text-modern">
                      500
                    </h1>
                    <h2 class="h5 fw-semibold text-dark mb-5">
                        Lamentamos, mas nosso servidor encontrou um erro interno!
                    </h2>
                    <h6 class="fw-semibold fs-sm text-dark">
                        Por Favor reporte isso ao nosso time de desenvolvimento...
                    </h6>
                  </div>
                </div>
              </div>
              <div class="content content-full text-muted fs-sm fw-medium">
                <a class="link-fx" href="{% url 'home' %}">Voltar para Home Page</a>
              </div>
            </div>
          </div>
        </main>
      </div>
</body>

</html>