{% extends 'app.html' %}
{% load static %}
{% block title %} ERP SIAGRI {% endblock %}
{% block content %}

<div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center py-2 mb-2">
    <ol class="breadcrumb breadcrumb-alt">
        <li class="breadcrumb-item fw-bold" aria-current="page">
            ERP SIAGRI
        </li>
    </ol>
</div>

<div class="row push">
    <div class="col-md-6 col-xl-3">
        <a class="block block-rounded block-link-pop" href="javascript:void(0)">
          <div class="block-content block-content-full d-flex align-items-center justify-content-between">
            <div>
              <i class="fa fa-2x fa-arrow-up text-muted"></i>
            </div>
            <dl class="ms-3 text-end mb-0">
              <dt class="h3 fw-bold mb-0">
                $12,682
              </dt>
              <dd class="fs-sm fw-medium text-muted mb-0">
                Contas a Pagar
              </dd>
            </dl>
          </div>
        </a>
      </div>


</div>



{% endblock %}