{% extends 'app.html' %}
{% load static %}
{% block title %} Contas a Pagar {% endblock %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<div id="chart" style="width: 400px; height: 500px;">

</div>

<script>

    var options1 = {
        chart: {
            height: 280,
            type: "radialBar",
        },
        series: [80],
        colors: ["#20E647"],
        plotOptions: {
            radialBar: {
                startAngle: -135,
                endAngle: 135,
                track: {
                    background: '#333',
                    startAngle: -135,
                    endAngle: 135,
                },
                dataLabels: {
                    name: {
                        show: false,
                    },
                    value: {
                        fontSize: "30px",
                        show: true
                    }
                }
            }
        },
        fill: {
            type: "gradient",
            gradient: {
                shade: "dark",
                type: "horizontal",
                gradientToColors: ["#87D4F9"],
                stops: [0, 100]
            }
        },
        stroke: {
            lineCap: "butt"
        },
        labels: ["Progress"]
    };

    new ApexCharts(document.querySelector("#chart"), options1).render();

</script>


{% endblock %}