{% extends 'app.html' %}
{% load static %}
{% block title %} Cadastro Pessoal {% endblock %}
{% block content %}

<div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center py-2 mb-2">
    <ol class="breadcrumb breadcrumb-alt">
        <li class="breadcrumb-item fw-bold" aria-current="page">
            Cadastro Pessoal
        </li>
    </ol>
</div>

<div class="row items-push">
    <div class="col-sm-6 col-xxl-6 mb-3">
        <form method="GET" id="search-form">
            <div class="input-group">
                <input type="text" class="form-control form-control-alt" name="search" value="{{ request.GET.search }}"
                    placeholder="Nome, Razão Social, CPF...">
                <span class="input-group-text border-0">
                    <i class="fa fa-search" id="search-btn"></i>
                </span>
            </div>
        </form>
    </div>

    <div class="col-sm-6 col-xxl-6 mb-3">
        <div class="text-end mt-2 fs-xs fw-semibold">
            <span>{{ str_registros }}</span>
        </div>
    </div>
</div>

<div class="tabela">
    <table>
        <thead>
            <th style="width: 40%;">Razão Social</th>
            <th style="width: 15%;">CGC</th>
            <th style="width: 30%;">Endereço</th>
            <th style="width: 25%;">Município</th>
        </thead>

        <tbody>
            {% for cadastro in cadastros %}
            <tr>
                <td>{{ cadastro.RAZA_TRA }}</td>
                <td>{{ cadastro.CGC_TRA }}</td>
                <td>{{ cadastro.ENDE_TRA }}</td>
                <td>{{ cadastro.DESC_MUN }} - {{ cadastro.ESTA_MUN }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if messages %}
{% for message in messages %}
{% if 'app_messages' in message.tags %}
<div id="django-{{ message.level_tag }}-message" style="display: none;">{{ message }}</div>
{% endif %}
{% endfor %}
{% endif %}

<script>
    var searchBtn = $('#search-btn');
    var searchForm = $('#search-form');
    $(searchBtn).on('click', function () {
        searchForm.submit();
    })

    $(document).ready(function () {

        $('.delete-button').click(function () {
            const deleteUrl = this.getAttribute('data-url');
            var csrfToken = $("input[name='csrfmiddlewaretoken']").val();
            var info = this.getAttribute('data-info')

            Swal.fire({
                title: 'Você tem certeza?',
                html: `<div style="font-size: 13px;">O cadastro de "<strong>${info}</strong>" será excluído!</div>`,
                icon: 'warning',
                showCancelButton: true,
                allowOutsideClick: false,
                cancelButtonText: 'Cancelar',
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Sim, Excluir!'
            }).then((result) => {
                if (result.isConfirmed) {

                    location.href = deleteUrl

                }
            })

        });

        var successMessageElement = document.getElementById('django-success-message')
        var errorMessageElement = document.getElementById('django-error-message')

        if (successMessageElement) {
            var msg = successMessageElement.innerText;
            One.helpers('jq-notify', {
                type: 'success',
                icon: 'fa fa-check me-1',
                message: msg
            })
        }

        if (errorMessageElement) {
            var msg = errorMessageElement.innerText;
            One.helpers('jq-notify', {
                type: 'danger',
                icon: 'fa fa-times me-1',
                message: msg
            })
        }
    })

</script>

{% endblock %}