{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static '/media/favicons/fav_icon_boi_forte.png' %}">
  <title>Boi Forte | {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="{% static '/js/plugins/sweetalert2/sweetalert2.min.css' %}">
  <link rel="stylesheet" id="css-main" href="{% static '/css/oneui.min.css' %}">
  <link rel="stylesheet" id="css-app" href="{% static '/css/app.css' %}">
  {% block css-header %}{% endblock %}
  <script src="{% static '/js/lib/jquery.min.js' %}"></script>
  {% block js-header %}{% endblock %}
</head>

<body>
  <div id="page-container" class="side-scroll page-header-fixed">

    <header id="page-header" class="content-header page-header-fixed p-4" style="background-color: rgba(185, 198, 202, 1);">
      <div class="d-flex align-items-center">
        <a class="fw-semibold fs-5 tracking-wider text-dual me-3" href="{% url 'home' %}">
          <img src="{% static 'media/various/logo-boi-forte.png' %}" alt="logo boi forte" style="width: 80px;">
        </a>

        <nav class="d-none d-lg-block mt-2 mt-lg-0">
          <ul class="nav-main nav-main-horizontal nav-main-hover">
            <li class="nav-main-item">
              <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true"
                aria-expanded="false" href="#">
                <i class="nav-main-link-icon fa-solid fa-users-line"></i>
                <span class="nav-main-link-name">Cadastro</span>
              </a>
              <ul class="nav-main-submenu">
                {% if perms.register.view_cadastro_pessoal %}
                <li class="nav-main-item">
                  <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true"
                    aria-expanded="false" href="#">
                    <i class="nav-main-link-icon fa-solid fa-users"></i>
                    <span class="nav-main-link-name">Cadastro Pessoal</span>
                  </a>
                  <ul class="nav-main-submenu">
                    <li class="nav-main-item">
                      <a class="nav-main-link" href="{%url 'cadpessoal.index' %}">
                        <i class="nav-main-link-icon fa-solid fa-user-group"></i>
                        <span class="nav-main-link-name">Registros</span>
                      </a>
                    </li>
                    {% if perms.register.add_cadastro_pessoal %}
                    <li class="nav-main-item">
                      <a class="nav-main-link" href="">
                        <i class="nav-main-link-icon fa-solid fa-plus"></i>
                        <span class="nav-main-link-name">Novo Cadastro</span>
                      </a>
                    </li>
                    {% endif %}
                  </ul>
                </li>
                {% endif %}

                {% if perms.users.gerenciar_usuarios %}
                  <li class="nav-main-item">
                    <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true"
                      aria-expanded="false" href="#">
                      <i class="nav-main-link-icon fa-solid fa-user"></i>
                      <span class="nav-main-link-name">Cadastro Usuários</span>
                    </a>
                    <ul class="nav-main-submenu">
                      <li class="nav-main-item">
                        <a class="nav-main-link" href="{% url 'users.index' %}">
                          <i class="nav-main-link-icon fa-solid fa-user-group"></i>
                          <span class="nav-main-link-name">Usuários</span>
                        </a>
                      </li>
                      <li class="nav-main-item">
                        <a class="nav-main-link" href="{% url 'user.new' %}">
                          <i class="nav-main-link-icon fa-solid fa-user-plus"></i>
                          <span class="nav-main-link-name">Novo Usuário</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                {% endif %}
                {% if perms%}
                <li class="nav-main-item">
                  <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true"
                    aria-expanded="false" href="#">
                    <i class="nav-main-link-icon"></i>
                    <span class="nav-main-link-name">Cadastro 2</span>
                  </a>
                  <ul class="nav-main-submenu">
                    <li class="nav-main-item">
                      <a class="nav-main-link" href="">
                        <i class="nav-main-link-icon"></i>
                        <span class="nav-main-link-name">Teste</span>
                      </a>
                    </li>
                  </ul>
                </li>
                {% endif %}
              </ul>
            </li>

            <li class="nav-main-item">
              <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true"
                aria-expanded="false" href="#">
                <i class="nav-main-link-icon fa-solid fa-money-bill-wave"></i>
                <span class="nav-main-link-name">Vendas</span>
              </a>
              
              <ul class="nav-main-submenu">
                <li class="nav-main-item">
                  <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true"
                    aria-expanded="false" href="#">
                    <i class="nav-main-link-icon"></i>
                    <span class="nav-main-link-name">Menu 1</span>
                  </a>
                  <ul class="nav-main-submenu">

                    {% if perms %}
                    <li class="nav-main-item">
                      <a class="nav-main-link" href="">
                        <i class="nav-main-link-icon"></i>
                        <span class="nav-main-link-name">Submenu 1</span>
                      </a>
                    </li>
                    {% endif %}
                  </ul>
              </ul>
            </li>

            <li class="nav-main-item">
              <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true"
                aria-expanded="false" href="#">
                <i class="nav-main-link-icon fa-solid fa-chart-line"></i>
                <span class="nav-main-link-name">Dashboards</span>
              </a>
              <ul class="nav-main-submenu">
                <li class="nav-main-item">
                  <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true"
                    aria-expanded="false" href="#">
                    <i class="nav-main-link-icon"></i>
                    <span class="nav-main-link-name">Menu 1</span>
                  </a>
                  <ul class="nav-main-submenu">

                    {% if perms %}
                    <li class="nav-main-item">
                      <a class="nav-main-link" href="">
                        <i class="nav-main-link-icon"></i>
                        <span class="nav-main-link-name">Submenu 1</span>
                      </a>
                    </li>
                    {% endif %}
                  </ul>
              </ul>
            </li>

            {% if user.is_superuser %}
              <li class="nav-main-item">
                <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true"
                  aria-expanded="false" href="#">
                  <i class="nav-main-link-icon fa-solid fa-wrench"></i>
                  <span class="nav-main-link-name">Admin</span>
                </a>
                <ul class="nav-main-submenu">
                  <li class="nav-main-item">
                    <a class="nav-main-link" href="{% url 'admin:index' %}">
                      <i class="nav-main-link-icon fa fa-pencil-alt"></i>
                      <span class="nav-main-link-name">Django Admin</span>
                    </a>
                  </li>
                </ul>
              </li>
            {% endif %}

          </ul>
        </nav>
      </div>

      <div class="d-flex align-items-center">
        <div class="dropdown d-inline-block ms-2">
          <button type="button" class="btn btn-sm btn-alt-light d-flex align-items-center shadow-none text-dark" style="border-color: rgba(185, 198, 202, 1);"
            id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="rounded-circle" src="{{ MEDIA_URL }}{{ user.profile.avatar }}" alt="User Avatar"
              style="width: 21px;">
            <span class="d-none d-sm-inline-block ms-2 fs-xs fw-semibold">
              <!-- {%if first_name%}{{ first_name }}{%else%}{{ user.first_name }}{%endif%}
              {%if last_name%}{{ last_name }}{%else%}{{ user.last_name }}{%endif%} -->
            </span>
            <i class="fa fs-xs fa-fw fa-angle-down d-none d-sm-inline-block ms-1 mt-1"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-md dropdown-menu-end p-0 border-0"
            aria-labelledby="page-header-user-dropdown">
            <div class="p-3 text-center bg-body-light border-bottom rounded-top">
              <img class="img-avatar img-avatar48 img-avatar-thumb" src="{{ MEDIA_URL }}{{ user.profile.avatar }}"
                alt="User Avatar">
              <!-- <p class="mt-2 mb-0 fs-sm fw-bold">{%if first_name%}{{ first_name }} {{ last_name }}{%else%}{{ user.first_name }} {{ user.last_name }}{%endif%}</p> -->
              <!-- <p class="mb-0 text-muted fs-xs fw-medium">{% firstof user.profile.job_function user.email %}</p> -->
            </div>
            <div class="p-2">
              <a class="dropdown-item d-flex align-items-center justify-content-between"
                href="{% url 'user.view' user.id%}">
                </i><span class="fs-xs fw-medium">Perfil Usuário</span>
              </a>
              <a class="dropdown-item d-flex align-items-center justify-content-between"
                href="{% url 'user.edit' user.id%}">
                <span class="fs-xs fw-medium">Editar Perfil</span>
              </a>
            </div>
            <div role="separator" class="dropdown-divider m-0"></div>
            <div class="p-2">
              <a class="dropdown-item d-flex align-items-center justify-content-between"
                href="{% url 'account_logout' %}" onclick="event.preventDefault();
                                                     document.getElementById('logout-form').submit();">
                <span class="fs-xs fw-medium">Log Out</span>
              </a>
              <form id="logout-form" action="{% url 'account_logout' %}" method="POST">{% csrf_token %}</form>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="content">
      {% block content %}

      {% endblock %}
    </div>

    {% block modals %}

    {% endblock %}

  </div>

  <script src="{% static '/js/oneui.app.min.js' %}"></script>

  <script src="{% static '/js/plugins/sweetalert2/sweetalert2.min.js' %}"></script>

  <script src="{% static '/js/plugins/jquery-validation/jquery.validate.min.js' %}"></script>
  <script src="{% static '/js/pages/op_auth_signin.min.js' %}"></script>
  <script src="{% static '/js/plugins/bootstrap-notify/bootstrap-notify.min.js' %}"></script>

</body>

{% block js-footer %}

{% endblock %}

</html>