{% extends 'app.html' %}
{% block title %} Home Page {% endblock %}
{% block content %}

<style>
    .content {
        padding-top: 10px;
    }
</style>

<div class="d-flex py-0 mb-2">
    <img class="rounded-circle me-2 mt-1" src="{{ MEDIA_URL }}{{ user_avatar }}" alt="Avatar User"
        style="width: 35px; height: 35px;">
    <div class="flex-grow-1 mt-0" style="color: rgb(12, 26, 53);">
        <span class="text-secondary fs-sm fw-bold" style="font-size: 12px;">Olá, <span
                class="text-success">{{user.first_name }}</span>.</span>
        <div class="fw-semibold text-muted mb-2" style="font-size: 11px;">{{ str_today }}</div>
    </div>
</div>





{% endblock %}